
<div class="framed-video-player">
    <h3><%= title %></h3>
    <p>Source: Youtube, by
    <a href="<%= youtubeUrl %>" rel="nofollow"><%= authorName %></a>
    on <%= publishedAt %></p>
    <% if (typeof hideDescription === "undefined" || ! hideDescription) {
    		%><%= description %><%
    	} %>
    <div class="embed-responsive js-video" style="clear: both;">
        <%- embedCode %>
    </div>
</div>

<youtube-metadata href="<%= youtubeUrl %>"/>
