
<div class="framed-video-player">
    <h3><%= title %></h3>
    <p>Source: Vimeo, by
    <a href="<%= vimeoUrl %>" rel="nofollow"><%= authorName %></a> </p>
    <% if (typeof hideDescription === "undefined" || ! hideDescription) {
    		%><%= description %><%
    	} %>
    <div class="embed-responsive js-video" style="clear: both;">
        <%- embedCode %>
    </div>
</div>

