<div class="slideshare-embed framed-video-player">
    <h3><%= title %></h3>
    <p>Source: Slideshare by <a href="<%= author_url %>"><%= author %></a></p>
    <div style="clear: both;"><%- htmlEmbed %></div> <!-- class="embed-responsive js-video" -->
</div>

<slideshare-metadata href="<%= slideshare_url %>"/>
