
<div class="card framed-video-player">
    <div class="card-header"><h3><%= title %></h3></div>
    <div class="card-body">
        <p>Source: Youtube, by
        <a href="<%= youtubeUrl %>" rel="nofollow"><%= authorName %></a>
        on <%= publishedAt %></p>
        <% if (typeof hideDescription === "undefined" || ! hideDescription) {
                %><%= description %><%
            } %>
        <div class="embed-responsive embed-responsive-16by9" style="clear: both;"><%- embedCode %></div>
    </div>
</div>

<youtube-metadata href="<%= youtubeUrl %>"/>
